<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://image.flaticon.com/icons/png/512/96/96446.png" width="50" height="50" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/phone">Phone</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cinema" tabindex="-1" aria-disabled="true">Cinema</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control form-control-sm mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container mt-5">
    <h3><i class="fa fa-mobile mr-3"></i> Brands</h3>

    <div class="row mt-3">
        <div class="col-4" *ngFor="let brand of brands; let i = index">
            <div class="card mb-3" (click)="goToModel(brand)">
                <div class="card-header text-center">
                    <img src="{{brand.logo}}"
                        width="120" alt="apple">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{brand.brand}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>