:host {
    .bg-light {
        border-bottom: 1px solid #ddd !important;
        padding: 0 30px !important;
        box-shadow: 5px 1px #d3d3d3 !important;
    }
    .card {
        :hover{
            cursor: pointer;
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
