:host {
    .bg-light {
        border-bottom: 1px solid #ddd !important;
        padding: 0 30px !important;
        box-shadow: 5px 1px #d3d3d3 !important;
    }

    .p-1-8 {
        padding: 1rem 8rem;
    }
    .f-15 {
        font-size: 15px;
    }
    .select-seat {
        background-color: #d3d3d3;
    }
    #seat {
        .card {
            :hover {
                cursor: pointer;
                background-color: #d3d3d3;
            }
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        }
    }
    .p-1-25 {
        padding: 1rem 25rem !important;
    }

    .p-1-20 {
        padding: 1rem 20rem !important;
    }

    .f-13 {
        font-size: 13px;
    }
    .f-8 {
        font-size: 8px;
    }
    .border-dashboard {
        border-left: 1px dashed #d3d3d3;
    }
    button:disabled {
        cursor: not-allowed !important;
    }
}
